body{
    background-color:  rgb(255, 145, 77);
   color: white;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 75% ;
    height: 150vh;
    margin: 0 auto;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    

}

.titulo{
    flex-direction:column;
    margin-top: 0px;
}

li{
    display: inline-block;
    margin: 20px;
    color: white;
    margin-top: -90%;

}
li #conta{
    border: 20px solid white;
}


h1{
    font-weight: 200;
    font-family:cursive;
    margin-top: 0%;
}

main{
    display: flex;
    flex-direction: row;
   
}

h2{
    font-size: 56px;
    line-height: 75%;
    
}
span{
    color: rgb(97, 64, 64);
}

li:hover{
  color:rgb(97, 64, 64);
}
    
    

#conta{
    border: 5px solid rgb(21, 21, 21);
    border-radius: 20px;
    background-color: black;
    
}
img{
width: 55%;
   
}

p{
    display: flex;
    justify-content:left
}

.foto-mulher{
display: flex;
flex-direction: row;
margin-left: 50%;
width: 60%;
}
.p1{
    font-size: larger;
    line-height: 100%;
}
.somos{
    width: 30%;
    margin-top: -35%;
}
.paragrafo-mulher{
    width: 40%;
    font-size:larger;
}

footer{
    background-color:  rgb(255, 145, 77);
    Position: fixed;
     bottom: 0;
     height: 5%;
     width: 100vw;

}
div{
    background-color:rgb(255, 145, 77);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
div:hover{
color: rgb(97, 64, 64);

}

aside{
    display: flex;
    flex-direction: column;
    color:black
}